@model IEnumerable<Quanlybanhang.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE3.cshtml";
}

<h1 style="text-align:center;color:chocolate">Hiển Thị Khách Hàng</h1>

<p>
    <a asp-action="Create">Thêm Sản Phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Sản Phẩm
            </th>
            <th>Đơn Vị Tính
            </th>
            <th>
                Đơn Gía
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
