@model Quanlybanhang.Models.Nhanvien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/AdminLTE3.cshtml";
}

<h1 style="text-align:center;color:chocolate">Xóa Nhân Viên</h1>

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Họ và Tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoTenNv)
        </dd>
        <dt class="col-sm-2">
            Giới Tính
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class="col-sm-2">
            Ngày Sinh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            Địa Chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">
            Số điện thoại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaNv" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
