@model IEnumerable<Quanlybanhang.Models.ChiTietHd>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE3.cshtml";
}

<h1 style="text-align:center;color:chocolate">Thông Tin Chi Tiết Hóa Đơn</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Số Lượng
            </th>
            <th>
               Mã Hóa Đơn
            </th>
            <th>
                Mã Sản Phẩm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHdNavigation.MaKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSpNavigation.MaSp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdchitietHd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdchitietHd">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdchitietHd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
